{% extends 'base.html' %}

{% block navbar %}

<!-- NavBar -->
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ url_for('page_home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('page_produto') }}">Sobre</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!-- <a class="nav-link" href="{{ url_for('page_login') }}">Login</a> -->
                <a class="nav-link" id="entrar" href="{{ url_for('page_cadastro') }}">Entrar</a>
                <!-- <a class="nav-link" href="#">Sair</a> -->
            </div>
        </div>
    </div>
</nav>

{% endblock %}